<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="log-kibana">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <excludeMdcKeyName>fodselsdato</excludeMdcKeyName>
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <maxDepthPerThrowable>30</maxDepthPerThrowable>
                </throwableConverter>
            </encoder>
        </appender>
        <appender name="secureLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/secure-logs/secure.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>1</maxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>128MB</maxFileSize>
            </triggeringPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
            <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                    <marker>SECURE_LOG</marker>
                </evaluator>
                <OnMismatch>DENY</OnMismatch>
                <OnMatch>NEUTRAL</OnMatch>
            </filter>
        </appender>

        <logger name="no.nav.sosialhjelp.innsyn" level="INFO"/>
        <logger name="no.nav.sosialhjelp.innsyn.app.config" level="TRACE"/>

        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="secure-log">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <excludeMdcKeyName>fodselsdato</excludeMdcKeyName>
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <maxDepthPerThrowable>30</maxDepthPerThrowable>
                </throwableConverter>
            </encoder>
        </appender>
        <appender name="secureLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/secure-logs/secure.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>1</maxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>128MB</maxFileSize>
            </triggeringPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
            <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                    <marker>SECURE_LOG</marker>
                </evaluator>
                <OnMismatch>DENY</OnMismatch>
                <OnMatch>NEUTRAL</OnMatch>
            </filter>
        </appender>

        <logger name="no.nav.sosialhjelp.innsyn" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="stdout_json"/>
            <appender-ref ref="secureLog"/>
        </root>
    </springProfile>

    <springProfile name="log-console">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%green(%d{HH:mm:ss}) %cyan([%-5.5t]) %boldCyan(%0.-5p) %yellow(%-20.20logger{19}) %cyan(:) %m%n
                </pattern>
            </encoder>
        </appender>

        <logger name="no.nav.sosialhjelp.innsyn" level="DEBUG"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.security" level="INFO"/>
        <logger name="org.springframework.web" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>
</configuration>
