name: 'Deploy to Development'
run-name: Deploy '${{ github.ref_name }}' to '${{ github.event.inputs.config-file-name }}'
on:
  workflow_dispatch:
    inputs:
      config-file-name:
        description: 'Config-fil som skal deployes'
        required: true
        default: 'dev'
        type: choice
        options:
          - 'mock'
          - 'preprod'
          - 'dev'

jobs:
  deploy-to-dev:
    name: 'Build for Deploy and Deploy to Dev'
    permissions:
      id-token: write
      contents: write
    uses: navikt/sosialhjelp-ci/.github/workflows/deploy_app.yml@v15
    with:
      cluster-name: dev-gcp
      resource-name: ${{ inputs.config-file-name }}
    secrets: inherit
